<%= form_with(model: customer, local: true) do |form| %>
  <% if customer.errors.any? %>
    <div class="error-messages">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
        <% customer.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend>Customer Information</legend>

    <div class="form-group">
      <%= form.label :customer_name %>
      <%= form.text_field :customer_name, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :email %>
      <%= form.text_field :email, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :password %>
      <%= form.password_field :password, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :phone_number %>
      <%= form.text_field :phone_number, class: 'form-control' %>
    </div>

    <div>
      <%= form.submit 'Save Customer', class: 'btn btn-primary' %>
    </div>
  </fieldset>
<% end %>
