<h1>Customer Details</h1>

<p>
  <strong>Name:</strong>
  <%= @customer.customer_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @customer.phone_number %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>Province:</strong>
  <%= @customer.province.name if @customer.province.present? %>
</p>

<%= link_to 'Back', root_path %>
