<!-- app/views/products/index.html.erb -->
<h1>Filter Products</h1>

<%= form_with url: products_path, method: :get, local: true do |f| %>
  <div>
    <%= f.check_box :on_sale, id: 'on_sale' %>
    <%= f.label :on_sale, "On Sale" %>
  </div>
  <div>
    <%= f.check_box :new_arrival, id: 'new_arrival' %>
    <%= f.label :new_arrival, "New Arrivals" %>
  </div>
  <div>
    <%= f.check_box :recently_updated, id: 'recently_updated' %>
    <%= f.label :recently_updated, "Recently Updated" %>
  </div>
  <%= f.submit "Filter" %>
<% end %>

<div class="products-list">
  <% @products.each do |product| %>
    <div class="product-item">
      <h3><%= link_to product.product_name, product_path(product) %></h3>
      <p><%= number_to_currency(product.price) %></p>
      <%= image_tag url_for(product.image), size: "200x200" if product.image.attached? %>
    </div>
  <% end %>
</div>

<%= paginate @products %>  <!-- Use Kaminari's pagination here -->
