<h1>All Products</h1>

<%= form_with url: products_path, method: :get, local: true do |f| %>
  <div>
    <%= f.text_field :search, placeholder: "Search products by name", value: params[:search] %>
  </div>
  <div>
    <%= f.select :category_id, options_from_collection_for_select(@categories, :id, :category_name), prompt: "Select Category", selected: params[:category_id] %>
  </div>
  <div class="form-check">
    <%= f.check_box :on_sale, { checked: params[:on_sale] == 'true', class: "form-check-input" }, 'true', 'false' %>
    <%= f.label :on_sale, "On Sale", class: "form-check-label" %>
  </div>
  <div class="form-check">
    <%= f.check_box :new_arrival, { checked: params[:new_arrival] == 'true', class: "form-check-input" }, 'true', 'false' %>
    <%= f.label :new_arrival, "New Arrival", class: "form-check-label" %>
  </div>
  <div class="form-check">
    <%= f.check_box :recently_updated, { checked: params[:recently_updated] == 'true', class: "form-check-input" }, 'true', 'false' %>
    <%= f.label :recently_updated, "Recently Updated", class: "form-check-label" %>
  </div>
  <%= f.submit "Filter" %>
<% end %>


<div class="products-list">
  <% @products.each do |product| %>
    <div class="product-item">
      <h3><%= link_to product.product_name, product_path(product) %></h3>
      <p><%= number_to_currency(product.price) %></p>
      <%= image_tag url_for(product.image), size: "200x200" if product.image.attached? %>
    </div>
  <% end %>
</div>

<%= paginate @products %> 