<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Verbose Volley - Volleyball Equipment, Gear, and Accessories">
  <title>Verbose Volley</title>
  
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
  <nav>
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Products', products_path %></li>
      <li><%= link_to 'Categories', categories_path %></li>
      <li><%= link_to 'About', about_path %></li>
      <li><%= link_to 'Contact', contact_path %></li>
      <% if customer_signed_in? %>
        <li><%= link_to 'My Account', customer_path(current_customer) %></li>
        <li><%= link_to 'Logout', destroy_customer_session_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'Login', new_customer_session_path %></li>
        <li><%= link_to 'Sign Up', new_customer_registration_path %></li>
      <% end %>
    </ul>
  </nav>



  <main>
    <%= yield %> <!-- This renders the page content -->
  </main>

  <footer>
    <p>VerboseVolley</p>
  </footer>
</body>
</html>
