<!DOCTYPE html>
<html>
<head>
  <title>Verbose Volley</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'Products', products_path %></li> <!-- Link to Products -->
        <li><%= link_to 'Categories', categories_path %></li> <!-- Link to Categories -->
        <li><%= link_to 'About', about_path %></li>
        <li><%= link_to 'Contact', contact_path %></li>
      </ul>
    </nav>
  </header>

  <%= yield %> <!-- This renders the page content -->
</body>
</html>
