<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Verbose Volley - Volleyball Equipment, Gear, and Accessories">
  <title>Verbose Volley</title>
  
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
    <nav>
      <ul class="nav-list">
        <li><%= link_to 'Home', root_path, class: 'nav-item' %></li>
        <li><%= link_to 'Products', products_path, class: 'nav-item' %></li>
        <li><%= link_to 'Categories', categories_path, class: 'nav-item' %></li>
        <li><%= link_to 'Cart', cart_path, class: 'nav-item' %></li>
        <li><%= link_to 'About', about_path, class: 'nav-item' %></li>
        <li><%= link_to 'Contact', contact_path, class: 'nav-item' %></li>
      </ul>
    </nav>

  <main>
    <%= yield %> <!-- This renders the page content -->
  </main>

  <footer>
    <p>VerboseVolley</p>
  </footer>
</body>
</html>
